header {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: rgb(43, 42, 42);
    padding: 7px;


}

h1,
h2 {
    display: flex;
    text-align: center;
    justify-content: center;
}

p {
    color: white;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.cname {
    /* display: inline; */
    background-color: rgb(43, 42, 42);
    color: white;

}

.chara-card {
    display: flex;
    justify-content: center;
    /* position: relative; */
    /* left: 25%; */
    padding: 5%;
    background-color: gray;
    width: 60%;
    margin: 0px auto;
}

.chara-img-block {
    display: inline-flex;
    position: relative;
    justify-content: center;
    border-color: red;
    border-style: solid;
    /* right: 10%; */
}
.spacer{
    padding: 3%;
}

.chara-bio {
    display: flex;
    flex-direction: column;
    border-color: red;
    border-style: solid;
    position: relative;
    padding: 10px;
    align-items: center;
}

.chara-card-bottom {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

.chara-card-bottom span {
    /* position: absolute; */
    bottom: 10px;
}

button:hover {
    background-color: grey;
}

.logo {
    width: 10%;
    cursor: po;
}


footer {
    position: relative;
    background-color: rgb(43, 42, 42);
    bottom: -140px;
    width: 100%;
    text-align: center;
}

.attribution {
    color: red;
}

.footer-content {
    padding: 30px;
    position: relative;
}

@media screen and (max-width: 1199.98px) {
    .logo{
        width: 15%;
    }
    .chara-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .chara-bio{
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
   .logo{
       width: 22%;
   }
    .chara-card {
        width: 80%;
    }

.chara-bio{
    display: flex;
    align-items: center;
}
}

@media screen and (max-width: 576px) {
    .chara-card {
        width: 80%
    }

    .chara-img-block {
        display: flex;
        box-sizing: inherit;
    }
}